<div class="d-flex justify-content-center align-items-center vh-100 ">
    <div class="card p-4 w-50">
     
       <div class="d-flex justify-content-center align-items-center mt-2" >
        <form class="w-100"  #emailForm="ngForm" (ngSubmit)="onSubmit()">
            <!-- Email Field -->
            <div class="form-group row mb-3">
                
                <div class="col-sm-12">
                  <input type="email" id="email" class="form-control" placeholder="Enter your email"   [(ngModel)]="emailAccount"
                  name="email"
                  class="form-control"
                  placeholder="Enter your email"
                  required
                  email
                  #email="ngModel">
                </div>
              
               @if(emailForm.invalid&&emailForm.touched){
                <div class="text-danger">
                  @if(email?.errors?.['required'] && email?.touched){
                    <p>this field is required </p>
                  }
                  @if(email?.errors?.['pattern'] && email?.touched){
                    <p>email is not valid  </p>
                  }
                </div>
               }
               
              </div>
            <!-- Email Field -->
   
      
            <!-- Login Button -->
            <div class="d-flex justify-content-center ">
              <button  type="submit" [disabled]="emailForm.invalid" class="btn btn-primary btn-sm w-10">send email</button>
            </div>
          </form>
       </div>
  
      <!-- Additional Links -->
      
    </div>
  </div>
  