<div class="d-flex justify-content-center align-items-center vh-100 ">
    <div class="card p-4 w-50">
      <h3 class="text-center mb-4">Regsiter</h3>
       <div class="d-flex justify-content-center align-items-center" >
        <form class="w-100" [formGroup]="confirmPasswordForm" (ngSubmit)="Submit()">
            <!-- Email Field -->
   
            <!-- Email Field -->
 


      
            <!-- Password Field -->
            <div class="form-group row mb-4">
              
              <div class="col-sm-12">
                <input type="password" id="password" class="form-control" placeholder="Enter your password" formControlName="password">
                @if (confirmPasswordForm.invalid&&confirmPasswordForm.touched) {
                  <div class="text-danger">
                   @if(confirmPasswordForm?.errors?.['required']&&confirmPasswordForm?.touched){
                     <p>this field is required </p>
                   }
                   @if(confirmPasswordForm?.errors?.['minlength']){
                     <p>this field must be bigger than 6 </p>
                   }
                   @if(confirmPasswordForm?.errors?.['maxlength']){
                     <p>this field must be less than 15 </p>
                   }
                  </div>
                 }
              </div>
            </div>
            <div class="form-group row mb-4">
            
                <div class="col-sm-12">
                  <input type="confirmPassword" id="confirmPassword" class="form-control" placeholder="Enter your password Again" formControlName="confirmPassword">
                  @if (confirmPasswordForm.invalid&&confirmPasswordForm.touched) {
                    <div class="text-danger">
                     @if(confirmPasswordForm?.errors?.['passwordMismatch']&&confirmPasswordForm?.touched ){
                       <p>password is not match </p>
                     }
                   
                    </div>
                   }
                </div>
              </div>
      
            <!-- Login Button -->
            <div class="d-flex justify-content-center">
              <button  type="submit" [disabled]="confirmPasswordForm.invalid" class="btn btn-primary btn-lg w-50">Regsiter</button>
            </div>
          </form>
       </div>
  
      <!-- Additional Links -->
  
    </div>
  </div>
  